@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}
body {
    margin: 0 auto;
    background-color: #e0e0e0;
}
.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    height: 100px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.collapsible {
    background: -webkit-linear-gradient(left, #724ae8, #ffa2ff);
    color: #fff;
    cursor: pointer;
    padding: 18px;
    height: 60px;
    width: 60px;
    text-align: center;
    outline: none;
    font-size: 18px;
    border-radius: 50%;
    border: none;
    border-bottom: none;
    position: fixed;
    right: 40px;
    bottom: 35px;
}
/* BUTTON TOGGLE */
.button-box {
    width: 100px;
	margin: 35px auto;
	position: relative;
	border-radius: 5px;
	background: #9b84df;
}
.toggle-btn {
	padding: 8px 12px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
}
#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 50px;
	height: 100%;
	background: #bba9f3; /*#e67e22*/
	border-radius: 5px;
	transition: .5s;
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #fff;
    border-radius: 15px;
    position: fixed;
    right: 40px;
    bottom: 100px;
    transform-origin: bottom right;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 32px 64px -48px rgba(0,0,0,0.5);
}
/*BOX : NCO HELPDESK */
.content header {
    background: -webkit-linear-gradient(left, #724ae8, #ffa2ff);
    /*background: #724ae8;*/
    padding: 2px; /*size header title nco helpdesk */
    text-align: center;
}
/*TITLE NCO HELPDESK */
.content header h2 {
    color: #fff;
    font-size: 25px;
}
/* SCROLLBAR */
.full-chat-block {
    width: 400px;
    background: #fff;
    text-align: center; /*timer*/
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}
.outer-container {
    min-height: 350px; /*if this height change, max-height need to change it too. will effect to the first conversation*/
    bottom: 0%;
    position: relative;
}
.chat-container {
    max-height: 350px; /*if this height change, max-height need to change it too. will effect to the first conversation*/
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}
.chat-container::-webkit-scrollbar {
    display: none;
}
/* FIRST CONVERSATION FROM BOT */
.botText {
    color: #000;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}
/* LOADING. . . */
.botText span {
    line-height: 1.5em;
    display: inline-block;
    background: #d7c9ff83;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    margin-left: 10px;
    max-width: 75%;
    animation: floatup .5s forwards;
}
/* SELECT OPTION ANSWER */
#answer {
    margin: 3px 10px 10px;
    float: left;
    background-color: #fff;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#answer:hover {
    cursor: pointer;
}
#bot2 {
    display: none;
    text-align: left;
    padding-left: 2px;
    margin-left: 10px;
}
#bot2 p {
    max-width: 67%;
    white-space: pre-wrap;
    color: #000;
    background: #d7c9ff83;
    border-radius: 10px 10px 10px 0;
    padding: 12px 14px;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}
#bot2 video {
    line-height: 1.5em;
    display: inline-block;   
    animation: floatup .5s forwards;
    border-radius: 5px;
}
/* SENDING MESSAGE */
.chat-bar-input-block {
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px 0px 10px 10px;
    gap: 5px;
    background: #d7c9ff83;
    border-top: 1px solid #ccc;
    font-size: 15px;
}
/* SEND ICON */
.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 15%;
    float: right;
    font-size: 20px;
    cursor: pointer;
    /* color: #333; */
    color: #724ae8;
}
#chat-icon:hover {
    opacity: .7;
}
#userInput {
    width: 75%;
}
/* BOX SENDING MESSAGE */
.input-box {
    float: left;
    border: none;
    box-sizing: border-box;
    width: 115%;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    height: 50px;
    max-height: 180px;
    background-color: #fff;
    outline: none;
}
.userText {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    text-align: right;
    clear: both;
}
.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #724ae8; /*#5ca6fa*/
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .chat-bar-collapsible {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}